:root {
  --brand-color-1: #88e8ed;
  --brand-color-2: #52b3bc;
  --brand-color-3: #263b7a;
  --brand-color-4: #386895;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 3.5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: url(../images/assault.png) rgb(24, 24, 24);
  color: rgb(198, 198, 198);
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 9vh 1fr;
}

header {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding-left: 1.5rem;
}

main {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 91vh 1fr;
  overflow: hidden;
}

blockquote {
  align-self: center;
  font-size: 2.5rem;
  max-width: 60rem;
  padding: 2rem;
  text-shadow: 1px 1px 1px black;
}

h1,
h2 {
  letter-spacing: 2.5px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  color: rgba(0, 0, 0, 0.659);
  font-weight: 700;
  text-shadow: 1px 1px rgb(62, 62, 62);
}

header h1 {
  font-size: 2rem;
  font-weight: 100;
  padding-left: 1rem;
}

a {
  color: var(--brand-color-1);
  text-decoration: none;
  z-index: 199;
}

canvas {
  display: block;
}

label {
  margin-right: 1rem;
}

input[type='text'],
input[type='number'] {
  background-color: rgb(218, 218, 218);
  padding-left: 5px;
}

button {
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

button:focus {
  outline: 0;
}

footer {
  align-items: flex-end;
  display: flex;
  grid-column: 1 / -1;
  height: 20rem;
  justify-content: center;
  padding-bottom: 1rem;
}

.viewer {
  align-items: center;
  background: radial-gradient(rgb(12, 12, 12), rgb(26, 26, 26));
  border-bottom-color: rgb(46, 46, 46);
  border-radius: 50%;
  border-style: solid;
  border-top-color: rgb(24, 24, 24);
  border-width: 15px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.166);
  display: flex;
  grid-column: 1 / -1;
  height: 75vh;
  justify-content: center;
  overflow: hidden;
  transform: translateX(-16.5%);
  width: 150vw;
}

.results {
  height: 76vh;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
}

.results__list {
  display: flex;
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.results__quote {
  display: flex;
  height: inherit;
  justify-content: center;
  width: 100vw;
}

.results__item {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75vh;
  margin-right: 1rem;
  position: relative;
}

.results__image {
  cursor: pointer;
  max-height: 100%;
  min-height: 100%;
}

.results__font {
  font-size: 6rem;
  text-align: center;
  word-wrap: break-word;
  width: 45rem;
  min-width: 15rem;
  margin: 0 5rem;
}

.results__overlay,
.results__font,
.results__image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.results__overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.851);
  color: var(--brand-color-1);
  display: flex;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  opacity: 0;
  padding-top: 9rem;
  position: absolute;
  text-shadow: 1px 1px 1px black;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  width: 100%;
}

.results__image:hover + .results__overlay,
.results__font:hover + .results__overlay,
.results__overlay:hover {
  opacity: 1;
}

.controllers {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 3 / auto;
  justify-content: space-around;
  padding-bottom: 10rem;
}

.form--large {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding: 4rem 5rem;
  text-transform: uppercase;
}

.form--large h2 {
  margin-bottom: 2rem;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.063);
}

.form__button {
  background-image: radial-gradient(
      circle 200px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.694)
    ),
    radial-gradient(
      circle 120px at 60px 60px,
      rgba(255, 255, 255, 0.33),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.152);
  background-color: rgb(29, 82, 119);
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  height: 180px;
  letter-spacing: 2px;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 180px;
}

.form__button:hover {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.152);
}

.form__button:hover,
.form__button span:hover,
.quote__button:hover {
  filter: brightness(112%);
}
.form__button:focus,
.form__button span:focus,
.quote__button:focus {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.063);
  filter: brightness(90%);
}

.form__button span,
.quote__button {
  color: rgba(2, 29, 75, 0.728);
  font-weight: 700;
}

.form--large h2,
.form--large,
.quote__button,
.quote__row {
  background-color: rgba(255, 255, 255, 0.036);
  border-bottom-color: rgb(36, 36, 36);
  border-top: 1px solid rgb(67, 67, 67);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.228);
}

.quote__container label,
.form--large h2,
.quote__button,
.form__button span {
  text-shadow: 1px 1px rgba(250, 250, 250, 0.132);
}

.quote__row {
  background-color: rgba(255, 255, 255, 0.036);
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 3rem 0;
}

.quote__container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.quote__container label {
  color: rgba(0, 0, 0, 0.659);
  font-weight: 700;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.quote__button {
  background: linear-gradient(var(--brand-color-4), rgb(18, 50, 73));
  padding: 1rem 2rem;
  font-size: 1.8rem;
  transition: all ease-in-out 0.3s;
  border-radius: 4px;
}

.copyright {
  color: rgb(82, 82, 82);
  padding-bottom: 2rem;
}

.error-message {
  color: rgb(205, 43, 40);
  font-size: 2rem;
}

.hidden {
  display: none;
}

.loader {
  border: 10px solid rgba(29, 82, 119, 0.084);
  border-radius: 50%;
  border-top: 10px groove var(--brand-color-4);
  border-bottom: 10px groove var(--brand-color-4);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(12, 12, 12), rgb(26, 26, 26));
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@-webkit-keyframes spin {
  0% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }
}
