:root {
  --brand-color-1: #88e8ed;
  --brand-color-2: #52b3bc;
  --brand-color-3: #263b7a;
  --brand-color-4: #386895;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5rem 1fr;
  grid-gap: 1rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: rgb(33, 33, 33);
  color: rgb(198, 198, 198);
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}

blockquote {
  grid-column: 1 / span 6;
  max-width: 50rem;
  padding: 2rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
  letter-spacing: 2.5px;
}

header h1 {
  padding-left: 1rem;
  font-size: 2rem;
}

h3 {
  color: var(--brand-color-1);
}

form {
  display: inline-block;
  text-align: left;
  max-width: 40rem;
  padding: 5rem;
  box-shadow: inset 0px -1px 1px 1px rgba(0, 0, 0, 0.509);
}

input[type='text'],
input[type='number'] {
  background-color: rgb(218, 218, 218);
  padding-left: 5px;
}

button[type='submit'] {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--brand-color-4);
  border: none;
  border-radius: 2px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 1rem;
  display: grid;
  grid-template-areas: 1fr;
  position: relative;
}

li img {
  height: 73vh;
  cursor: pointer;
  z-index: 99;
  transform: translateX(24vw);
}

a {
  color: rgb(146, 254, 254);
}

footer {
  grid-column: 1 / -1;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.viewer-image__details {
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.509);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.viewer-image:hover + .viewer-image__details,
.viewer-image__details:hover {
  opacity: 1;
}

.logo {
  height: 3.5rem;
}

.viewer {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  height: 70vh;
  width: 150vw;
  background: rgba(0, 0, 0, 0.173);
  border-radius: 50%;
  overflow: hidden;
  transform: translateX(-25vw);
}

.controllers {
  grid-column: 1 / -1;
  grid-row: 3 / auto;
  display: flex;
  justify-content: space-around;
}

.font-list-item {
  height: 50vh;
  font-size: 10rem;
  margin: 0 10rem;
}

#results {
  overflow-x: scroll;
  overflow-y: hidden;
}

.error-message {
  /* margin-left: 55vw; */
  color: red;
}

.hidden {
  display: none;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.3;
}
