:root {
  --brand-color-1: #88e8ed;
  --brand-color-2: #52b3bc;
  --brand-color-3: #263b7a;
  --brand-color-4: #386895;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 9vh 1fr;
  grid-gap: 1rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: rgb(7, 7, 7) url(/images/assault.png);
  color: rgb(198, 198, 198);
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 91vh 1fr;
  overflow: hidden;
}

blockquote {
  align-self: center;
  font-size: 2.5rem;
  max-width: 60rem;
  text-shadow: 1px 1px 1px black;
  padding: 2rem;
}

h1,
h2 {
  text-transform: uppercase;

  margin: 0;

  letter-spacing: 2.5px;
}

h2 {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.659);
  text-shadow: 1px 1px rgb(72, 72, 72);
}

header h1 {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 100;
}

.logo {
  height: 3.5rem;
}

.form-styles {
  background-color: rgba(255, 255, 255, 0.036);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.139);
  border-bottom-color: rgb(36, 36, 36);
  border-top: 1px solid rgb(67, 67, 67);
  border-left: 1px solid rgb(29, 29, 29);
  border-right: 1px solid rgb(29, 29, 29);
  border-bottom: 2px solid rgb(23, 23, 23);
}

.form--large {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  max-width: 40rem;
  padding: 4rem 5rem;
}

.form--large h2 {
  margin-bottom: 2rem;
}

label {
  margin-right: 1rem;
}

input[type='text'],
input[type='number'] {
  background-color: rgb(218, 218, 218);
  padding-left: 5px;
}

button {
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

button:focus {
  outline: 0;
}

.quote__row {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: rgba(255, 255, 255, 0.036);
  margin-bottom: 5rem;
}

.quote__container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.quote__container label {
  font-weight: 700;
  color: rgb(9, 9, 9);
  font-size: 1.7rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.659);
  text-shadow: 1px 1px rgb(60, 60, 60);
}

.quote__button {
  background: radial-gradient(var(--brand-color-4), rgb(18, 50, 73));
  padding: 1rem 2rem;
  transition: all ease-in-out 0.3s;
}

.form__button {
  margin-top: 2rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem;
  background-color: rgb(29, 82, 119);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background-image: radial-gradient(
      circle 200px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.694)
    ),
    radial-gradient(
      circle 120px at 60px 60px,
      rgba(255, 255, 255, 0.33),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.152);
  position: relative;
  transition: all ease-in-out 0.3s;
}

.form__button:hover,
.form__button span:hover,
.quote__button:hover {
  filter: brightness(110%);
}

.form__button:hover {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.152);
}

.form__button span,
.quote__button {
  color: rgba(2, 29, 75, 0.728);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.132);
  font-weight: 700;
}

a {
  color: var(--brand-color-1);
  text-decoration: none;
  z-index: 199;
}

footer {
  grid-column: 1 / -1;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1rem;
}

.viewer {
  grid-column: 1 / -1;
  height: 75vh;
  width: 150vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  transform: translateX(-16.5%);
  overflow: hidden;

  background: radial-gradient(rgb(12, 12, 12), rgb(26, 26, 26));
  border-bottom-color: rgb(36, 36, 36);
  border-radius: 50%;
  border-style: solid;
  border-top-color: rgb(24, 24, 24);
  border-width: 15px;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.166);
}

.results {
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
  height: 76vh;
}

.results__list {
  display: flex;
  justify-content: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.results__item {
  margin-right: 1rem;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 75vh;
  grid-template-columns: 1fr;
}

.results__image {
  max-height: 100%;
  cursor: pointer;
}

.results__font {
  width: 45rem;
  text-align: center;
  font-size: 6rem;
}

.results__overlay,
.results__font,
.results__image {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.results__overlay {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.851);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  color: var(--brand-color-1);
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}

.results__image:hover + .results__overlay,
.results__font:hover + .results__overlay,
.results__overlay:hover {
  opacity: 1;
}

.controllers {
  grid-column: 1 / -1;
  grid-row: 3 / auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10rem;
}

.copyright {
  color: rgb(82, 82, 82);
}

.error-message {
  color: rgb(205, 43, 40);
  font-size: 2rem;
}

.hidden {
  display: none;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.3;
}
